body {
  font-family: sans-serif;
  text-align: center;
  margin: 2rem;
<<<<<<< HEAD
  background-color: #f0f8ff;
=======
  background-color: white;
>>>>>>> template/main
}

button {
  background-color: #4682b4;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
<<<<<<< HEAD
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.message-container {
  border: 2px solid #4682b4;
  border-radius: 1rem;
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
=======
}
>>>>>>> template/main
